<% layout('layouts/boilerplate')%>
<div class="container">

<h1>Camping with YelpCamp</h1>
</div>
<% for (let campground of campgrounds){%>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-4">
            <%if(campground.images.length) {%>
            <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
            <% }else {%>
            <img class="img-fluid" alt=""
                src="https://res.cloudinary.com/dfgv4kake/image/upload/v1662470132/YelpCamp/img34.jpg">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>

                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-outline-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%> 
</div>